@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

:root {
  --main-color: rgb(0, 96, 173);
  --button-color: rgb(255, 197, 7);
  --font-color-dark: rgb(88, 89, 91);
  --sub-header: 1.2rem;
  --main-header: 2.9rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: max(1.2rem, 2.8vmax);
}

h2 {
  font-size: max(1.1rem, 1.9vmax);
}

h3 {
  font-size: max(1rem, 1.4vmax);
}

h4 {
  font-size: max(1rem, 1.1vmax);
}

p {
  font-size: max(0.8rem, 1vmax);
}

body {
  font-family: Roboto;
  color: var(--font-color-dark);
  /* overflow-x: hidden; */
}

/* SLIDER SECTION */

.sliderZitat {
  position: relative;
  width: 100vw;
  max-width: 100%;
  background-image: url("../img/shutterstock_1435648625_sw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30% 0px;
}

.sliderZitat__info__layer {
  display: flex;
  width: 100%;
  min-height: 40vmin;
  padding: 8vmin 0;
  background: var(--main-color);
  mix-blend-mode: multiply;
}

.sliderZitat__info__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: white;
  z-index: 1;
}

.sliderZitat__info__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.sliderZitat__info__cite {
  width: 100%;
  margin-bottom: 3%;
  font-weight: 500;
  font-size: max(0.8rem, 2.2vmax);
  line-height: max(1.6rem, 3vmax);
  padding: 0 15%;
}

.sliderZitat__info__author {
  width: 90%;
  font-size: max(0.7rem, 1.2vmax);
  text-align: right;
}

.sliderZitat__info__arrow-left,
.sliderZitat__info__arrow-right {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
}

.sliderZitat__info__arrow-right {
  top: 0;
  bottom: 0;
  right: 5vmax;
  margin: auto;
  cursor: pointer;
}

.sliderZitat__info__arrow-left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5vmax;
  cursor: pointer;
}

.slidesZitatHide {
  display: none;
}

/* SLIDER MITGLIEDERZEITSCHRIFT */

.members-journal {
  padding: 10vmin 0;
}

.members-journal__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
  padding: 30px 0;
  background: white;
  margin: 0 auto;
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.members-journal__slider__arrow-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80px;
  width: 110px;
  height: 100px;
  margin: auto;
}

.members-journal__slider__arrow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -80px;
  width: 110px;
  height: 100px;
  margin: auto;
}

.members-journal__slider__leaflet img {
  width: 400px;
  height: 400px;
}

.members-journal__slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 30vmax;
}

.members-journal__slider__wrapper h4 {
  font-size: max(0.8rem, 1.3vmax);
  font-weight: 500;
  margin: 2% 0 3% 0;
}

.members-journal__slider__wrapper h1 {
  font-size: max(0.8rem, 2.5vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.members-journal__slider__text {
  font-size: max(0.8rem, 1.2vmax);
  line-height: 1.7rem;
  color: var(--font-color-dark);
}

.members-journal__slider__download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
  margin-right: 10%;
  font-size: max(0.8rem, 1.3vmax);
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.members-journal__slider__download img {
  display: inline-block;
  width: 25px;
  height: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.members-journal__slider__download:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.members-journal__arrow-left,
.members-journal__arrow-right {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
}

.members-journal__arrow-right {
  top: 0;
  bottom: 0;
  right: -5vmax;
  margin: auto;
  cursor: pointer;
}

.members-journal__arrow-left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: -5vmax;
  cursor: pointer;
}

.slidesJournalHide {
  display: none;
}

/* NEWS SECTION */

.news {
  width: 100vw;
  max-width: 100%;
  padding: 50px 15px;
}

.news h1 {
  font-size: max(1rem, 2.5vmax);
}

.news__header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 15%;
  padding: 0 30px 0 15px;
  font-size: max(0.8rem, 1.5vmax);
  font-weight: 500;
  color: var(--main-color);
}

.news__header__right {
  display: flex;
  width: 40%;
  min-height: 15%;
  padding-left: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
}

.news__header__left a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
}

.news__header__left a:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__header__left p {
  display: flex;
  align-items: center;
  margin: 0;
  height: 30px;
  color: var(--font-color-dark);
}

.news__header__left img {
  width: 1.8vmax;
  margin-top: 5px;
  margin-right: 5px;
}

.news__main {
  display: flex;
  justify-content: center;
}

.news__content {
  width: 100%;
  color: var(--main-color);
  padding-bottom: 5%;
}

.news__content h4 {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.news__content h2 {
  margin-bottom: 20px;
  font-size: max(1rem, 1.4vmax);
  font-weight: bold;
}

.news__content__top p:not(.news__content__read-more > p) {
  color: var(--font-color-dark);
}

.news__content__read-more > p {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: bold;
  text-align: right;
}

.news__content a {
  text-decoration: none;
  color: var(--main-color);
}

.news__content__read-more img {
  width: 5%;
  margin-right: 5px;
}

.news__content__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.news__content__top__main {
  width: 130%;
  padding: 0 15px;
}

.news__content__top__wrapper {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.news__content__top__wrapper > img {
  width: 108%;
}

.news__content__top__main > p {
  font-size: 1.1rem;
  color: var(--font-color-dark);
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.news__content__top__read-more img {
  width: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.news__content__top__read-more p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto-bold;
  font-size: 1.4rem;
}

.news__content__top__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__content__top .news__content__top__wrapper:last-of-type {
  padding-bottom: 10vmax;
}

.news__services {
  width: 100%;
}

.news__services__first {
  border-top: 1px solid var(--main-color);
}

.news__services li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vmin;
  color: var(--font-color-dark);
  list-style-type: none;
  border-bottom: 1px solid var(--main-color);
  font-size: max(0.8rem, 1.2vmax);
}

.news__services li:hover img {
  animation: shake 2s ease-in-out infinite;
}

.news__services img {
  width: 1.5vmax;
  margin-top: 5px;
  margin-right: 15px;
}

/* VERBAND LINK-BOX SECTION */

.verband {
  width: 100vw;
  max-width: 100%;
  padding: 3% 5% 3% 10%;
}

.verband__wrapper__content {
  padding: 0 0 5% 0;
  color: var(--main-color);
}

.verband__wrapper__content > img {
  width: 90%;
  margin-bottom: 5%;
}

.verband__wrapper a {
  text-decoration: none;
  color: var(--main-color);
}

.verband__wrapper__text h2 {
  font-size: max(1.2rem, 1.9vmax);
}

.verband__wrapper__text > p {
  width: 90%;
  margin-bottom: 3%;
  font-size: max(0.8rem, 1vmax);
  color: var(--font-color-dark);
}

.verband__wrapper__read-more p {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: bold;
}

.verband__wrapper__read-more img {
  width: 4%;
  margin-right: 5px;
}

/* VERBAND GESCHÄFTSSTELLE SECTION */

.verband__geschaeftsstelle {
  padding: 3% 0 3% 10%;
  color: var(--main-color);
}

.verband__geschaeftsstelle__content > img {
  height: 75%;
  margin-left: 3%;
}

.verband__geschaeftsstelle__content__text h3 {
  font-size: max(1rem, 1.1vmax);
}

.verband__geschaeftsstelle__content__text h1 {
  font-size: max(1.2rem, 2.8vmax);
}

.verband__geschaeftsstelle__content__text h4 {
  font-size: max(1rem, 1vmax);
  font-weight: bold;
}

.verband__geschaeftsstelle__content__text p {
  font-size: max(0.8rem, 1vmax);
  color: var(--font-color-dark);
}

.verband__geschaeftsstelle__content__map img {
  margin-bottom: 5%;
}

.verband__geschaeftsstelle__map__button button {
  min-width: 25%;
  margin-top: 5%;
  padding: 5% max(15px, 1.5vmax);
  font-size: max(0.8rem, 1.2vmax);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* PUBLIKATIONEN SECTION */

.publikationen {
  padding: 3% 0 3% 10%;
  color: var(--main-color);
}

.publikationen__wrapper {
  margin-bottom: 5%;
}

.publikationen__wrapper img {
  width: 70%;
}

.publikationen__wrapper > p {
  width: 70%;
  padding: 5% 0;
  color: var(--font-color-dark);
}

.publikationen__wrapper__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: var(--main-color);
}

.publikationen__wrapper__read-more {
  width: 50%;
}

.publikationen__wrapper__read-more p {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: bold;
}

.publikationen__wrapper__read-more img {
  width: 15%;
  margin-right: 5px;
}

.publikationen__wrapper__bottom button {
  min-width: 25%;
  padding: min(15px, 1.5vmax);
  font-size: max(0.8rem, 1.2vmax);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* SCHMIERSTOFFE REIBUNG SECTION */

.schmierstoffe__reibung {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.schmierstoffe__reibung__text {
  min-height: 80%;
  color: var(--main-color);
}

.schmierstoffe__reibung__text h2 {
  font-size: max(1.1rem, 1.9vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.schmierstoffe__reibung__text p:not(.schmierstoffe__reibung__read-more) {
  font-size: max(0.8rem, 1vmax);
  color: var(--font-color-dark);
}

.schmierstoffe__reibung__read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3%;
  padding-right: 30px;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.schmierstoffe__reibung__read-more img {
  width: 5%;
  min-width: 15px;
  margin-top: 5px;
  margin-right: 5px;
}

.schmierstoffe__reibung__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.schmierstoffe__reibung__image {
  margin-bottom: 5%;
}

/* SCHMIERSTOFFE KORROSIONSSCHUTZ SECTION */

.schmierstoffe__korrosionsschutz {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.schmierstoffe__korrosionsschutz__text {
  min-height: 80%;
  color: var(--main-color);
}

.schmierstoffe__korrosionsschutz__text h2 {
  font-size: max(1.1rem, 1.9vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.schmierstoffe__korrosionsschutz__text
  p:not(.schmierstoffe__korrosionsschutz__read-more) {
  font-size: max(0.8rem, 1vmax);
  color: var(--font-color-dark);
}

.schmierstoffe__korrosionsschutz__read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3%;
  padding-right: 30px;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.schmierstoffe__korrosionsschutz__read-more img {
  width: 5%;
  min-width: 15px;
  margin-top: 5px;
  margin-right: 5px;
}

.schmierstoffe__korrosionsschutz__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.schmierstoffe__korrosionsschutz__image {
  margin-bottom: 5%;
}

/* SCHMIERSTOFFE NACHHALTIGKEIT SECTION */

.schmierstoffe__nasch {
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.schmierstoffe__nasch__columnLeft > img {
  width: 80%;
  margin-bottom: 5%;
}

.schmierstoffe__nasch a {
  color: var(--main-color);
  text-decoration: none;
}

.schmierstoffe__nasch a:hover img {
  animation: shake 2s ease-in-out infinite;
}

.schmierstoffe__nasch__columnLeft {
  color: var(--font-color-dark);
}

.schmierstoffe__nasch ul {
  width: 80%;
  margin: 0 0 10% 0;
}

.schmierstoffe__nasch__columnLeft ul img {
  width: 1.5vmax;
}

.schmierstoffe__nasch__columnLeft ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 0;
  font-size: max(0.8rem, 1.3vmax);
  border-bottom: 1px solid var(--main-color);
}

.schmierstoffe__nasch__columnRight {
  color: var(--main-color);
}

.schmierstoffe__nasch__columnRight p {
  color: var(--font-color-dark);
}

.schmierstoffe__nasch__columnRight p:first-of-type {
  padding: 5% 0 3% 0;
}

.schmierstoffe__nasch__columnRight h3 {
  font-weight: bold;
}

/* SCHMIERSTOFFE NACHHALTIGKEIT SECTION */

.schmierstoffe__boxen {
  width: 100vw;
  max-width: 100%;
  padding: 3% 5% 3% 10%;
}

.schmierstoffe__boxen__wrapper__content {
  padding: 0 0 5% 0;
  color: var(--main-color);
}

.schmierstoffe__boxen__wrapper__content > img {
  width: 90%;
  margin-bottom: 5%;
}

.schmierstoffe__boxen__wrapper__text > p {
  width: 90%;
  margin-bottom: 3%;
  color: var(--font-color-dark);
}

.schmierstoffe__boxen__wrapper__button {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.schmierstoffe__boxen__wrapper__button button {
  min-width: 25%;
  margin-top: 5%;
  padding: 5% max(15px, 1.5vmax);
  font-size: max(0.8rem, 1.2vmax);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* NASCH RESSOURCEN SECTION */

.nasch__ressourcen {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.nasch__ressourcen__text {
  min-height: 80%;
  color: var(--main-color);
}

.nasch__ressourcen__text p {
  color: var(--font-color-dark);
}

.nasch__ressourcen__image {
  margin-bottom: 5%;
}

/* NASCH BERECHNUNG SECTION */

.nasch__berechnung {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.nasch__berechnung__text {
  min-height: 80%;
  color: var(--main-color);
}

.nasch__berechnung__text p {
  color: var(--font-color-dark);
  margin-bottom: 7%;
}

.nasch__berechnung__image {
  margin-bottom: 5%;
}

.nasch__berechnung__image img {
  border-radius: 5%;
}

/* TECHNISCHE INFORMATIONEN SECTION */

.technischeInfo {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.technischeInfo__text {
  min-height: 80%;
  color: var(--main-color);
}

.technischeInfo__text h2 {
  font-size: max(1.1rem, 1.9vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.technischeInfo__text p:not(.technischeInfo__read-more) {
  font-size: max(0.8rem, 1vmax);
  color: var(--font-color-dark);
}

.technischeInfo__read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3%;
  padding-right: 30px;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.technischeInfo__read-more img {
  width: 5%;
  min-width: 15px;
  margin-top: 5px;
  margin-right: 5px;
}

.technischeInfo__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.technischeInfo__image {
  margin-bottom: 5%;
}

/* TECHNISCHE INFORMATIONEN HYDRAULIK SECTION */

.technischeInfo__hydraulik {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 3% 0 3% 10%;
}

.technischeInfo__hydraulik__text {
  min-height: 80%;
  color: var(--main-color);
}

.technischeInfo__hydraulik__text p {
  color: var(--font-color-dark);
}

.technischeInfo__hydraulik__image {
  margin-bottom: 5%;
}

/* ------------------------------------------------------------------------------------------ */

/* SMALL SCREENS LANDSCAPE */

@media only screen and (max-width: 43em) and (orientation: landscape) {
  .publikationen__wrapper__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .publikationen__wrapper__read-more {
    width: 100%;
    margin-bottom: 3%;
  }

  .publikationen__wrapper__read-more p {
    width: 100%;
    text-align: center;
  }
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 40em) {
  .verband,
  .verband__geschaeftsstelle,
  .publikationen,
  .schmierstoffe__reibung,
  .schmierstoffe__korrosionsschutz,
  .schmierstoffe__nasch,
  .schmierstoffe__boxen,
  .nasch__ressourcen,
  .nasch__berechnung,
  .technischeInfo,
  .technischeInfo__hydraulik {
    padding: 3% 5% 3% 20%;
  }

  .publikationen__wrapper__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .publikationen__wrapper__read-more {
    width: 100%;
    margin-bottom: 3%;
  }

  .publikationen__wrapper__read-more p {
    width: 100%;
    text-align: center;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 64.063em) {
  .verband__geschaeftsstelle__content__map {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5%;
  }

  .publikationen__wrapper__bottom {
    display: flex;
    flex-direction: row;
  }

  .publikationen__wrapper__read-more {
    width: 70%;
  }

  .publikationen__wrapper__read-more p {
    width: 100%;
    text-align: initial;
  }

  .schmierstoffe__nasch__columnLeft img {
    width: 60%;
  }

  .schmierstoffe__nasch ul {
    width: 60%;
    margin: 0 0 10% 0;
  }
}
