@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

:root {
  --main-color: rgb(0, 96, 173);
  --button-color: rgb(255, 197, 7);
  --font-color-dark: rgb(88, 89, 91);
  --sub-header: 1.2rem;
  --main-header: 2.9rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  color: var(--font-color-dark);
}

/* UTILITY CLASSES */

.hide {
  display: none;
}

/* HEADER SECTION */

header {
  display: flex;
  width: 100vw;
  height: 18vh;
  max-width: 100%;
  padding: 0 0 0 40px;
  font-size: max(12px, 1.3vmax);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  min-width: 100px;
}

.logo img {
  width: 15vmax;
}

.navigation a {
  text-decoration: none;
  /* color: var(--font-color-dark); */
  color: inherit;
  display: block;
  position: relative;
}

.navigation ul {
  display: flex;
  align-items: flex-end;
  height: 15vh;
  list-style-type: none;
}

.navigation ul li {
  margin-right: 35px;
  font-size: max(0.6rem, 1vmax);
  overflow: hidden;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--main-color);
  opacity: 1;
  transition: opacity 300ms, transform 400ms;
  transform: translate3d(-100%, 0, 0);
}

.navigation a:hover::after,
.navigation a:focus::after {
  transform: translate3d(0, 0, 0);
}

.navigation img {
  width: 25px;
  margin-left: 20px;
}

.navigation img:hover {
  transform: scale(1.2);
}

/* TEASER SECTION */

.teaser {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/news_main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: 100vw;
  height: 45vh;
  max-width: 100%;
  padding: 0 0 0 200px;
}

.teaser .quick-navi {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 230px;
  z-index: 5;
}

.teaser .quick-navi button {
  width: 70px;
  height: 70px;
  background: var(--button-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.teaser .quick-navi button:hover {
  transform: translateX(-20px);
}

.teaser .quick-navi button img {
  width: 40px;
}

.teaser__slide-control {
  position: absolute;
  bottom: 80px;
  right: 130px;
  display: flex;
  width: 100px;
  height: 40px;
}

.teaser__slide-control span {
  padding-top: 5px;
  font-size: 2.1rem;
}

.teaser__slide-control img {
  height: 50px;
  cursor: pointer;
}

/* EVENT SECTION */

.event__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 25vh;
  max-width: 100%;
  padding: 30px 40px;
  background: var(--main-color);
  color: white;
}

.event__title h3 {
  font-size: max(0.8rem, 1.5vmax);
  margin-bottom: 3%;
}

.event__title h1 {
  margin-bottom: 5%;
  font-family: Roboto-bold;
  font-size: max(1rem, 2.4vmax);
  letter-spacing: 1.2px;
}

.event__title p {
  font-size: max(0.8rem, 1.1vmax);
}

/* EVENT BODY */

.event__main-info {
  padding: 0 0 0 40px;
}

.event__main-info__content-wrapper {
  display: flex;
  width: 100%;
}

.event__content-wrapper__column-left {
  width: 50%;
}

.event__content-wrapper__column-left h2 {
  color: var(--main-color);
  font-size: max(0.8rem, 1.2vmax);
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 8%;
  margin-bottom: 3%;
}

.event__content-wrapper__column-left p,
.event__content-wrapper__column-left li {
  font-size: max(0.8rem, 1vmax);
  margin-bottom: 1%;
}

.event__main-info ul {
  margin-left: 15px;
}

.event__main-info .event__login {
  margin-top: 40px;
}

.event__main-info .event__login a {
  color: var(--main-color);
}

.event__content-wrapper__column-right img {
  max-width: 400px;
}

.event__content-wrapper__column-right > p {
  max-width: 400px;
  margin-top: 40px;
  font-size: max(0.8rem, 1.1vmax);
}

.event__content-wrapper__calendar-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 12%;
  margin-bottom: 5%;
}

.event__content-wrapper__calendar-wrapper img {
  width: 50px;
  margin-right: 30px;
}

.event__content-wrapper__calendar-wrapper > p {
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
}

.event__content-wrapper__button-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 400px;
}

.event__content-wrapper__button-wrapper img {
  width: 40px;
  margin-left: 20px;
}

.event__content-wrapper__button-wrapper img:hover {
  transform: scale(1.1);
}

/* EVENT SLIDER */

.event__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding: 80px 0;
  color: var(--main-color);
}

.event__slider h1 {
  font-size: max(1rem, 2.8vmax);
  margin-bottom: 40px;
}

.event__slider__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.event__slider__background {
  position: relative;
  width: 64%;
}

.event__slider__arrow-left,
.event__slider__arrow-right {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
}

.event__slider__arrow-right {
  top: 0;
  bottom: 0;
  right: -6vmax;
  margin: auto;
  cursor: pointer;
}

.event__slider__arrow-left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: -6vmax;
  cursor: pointer;
}

/* SIGN-UP SECTION */

.sign-up {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding-bottom: 30px;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  background: white;
}

.sign-up form input::placeholder {
  color: var(--main-color);
  font-size: max(0.8rem, 1vmax);
  opacity: 1;
}

.sign-up form h2 {
  width: 85%;
  font-family: Roboto;
  font-weight: 500;
  font-size: max(0.8rem, 1.5vmax);
  color: var(--main-color);
  margin-bottom: 40px;
}

.sign-up form input {
  width: 85%;
  height: 45px;
  margin-bottom: 10px;
  padding: 0 15px;
  border: 1px solid rgb(226, 226, 226);
}

.sign-up__form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 40px;
}

.sign-up__form-footer__button {
  display: flex;
  justify-content: flex-end;
}

.sign-up__form-footer__sign-in {
  width: 15%;
  min-width: 100px;
  height: 50px;
  margin-bottom: 20px;
  font-size: max(0.8rem, 1.2vmax);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sign-up__form-footer__sign-in:hover {
  opacity: 0.8;
}

.sign-up__form-footer__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 180px;
  height: 50px;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1vmax);
  color: var(--main-color);
  background: none;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.sign-up__form-footer__back img {
  width: 1.8vmax;
  margin-right: 5px;
  transform: rotate(180deg);
}

/* NEWS BOTTOM */

.news__bottom {
  width: 100vw;
  max-width: 100%;
  background-image: url("../img/shutterstock_318968852.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0;
}

.news__bottom__counterpart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 5% 0 5% 20%;
}

.news__bottom__counterpart h1 {
  font-size: max(0.8rem, 2.5vmax);
  color: var(--main-color);
  margin-bottom: 3%;
}

.news__bottom__counterpart__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.news__bottom__counterpart img {
  width: 20vmax;
}

.news__bottom__counterpart__contact {
  margin-left: 3%;
  color: var(--main-color);
}

.news__bottom__counterpart__contact h3 {
  margin-bottom: 5%;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.7vmax);
}

.news__bottom__counterpart__contact p {
  font-size: max(0.8rem, 1.3vmax);
  line-height: 2.4vmax;
}

/* FOOTER */

footer {
  width: 100vw;
  min-height: 40vh;
  max-width: 100%;
  padding: 50px;
}

.footer__social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  margin-bottom: 3%;
}

.footer__social-media a {
  width: 3.5%;
  margin-left: 20px;
}

.footer__social-media a:hover {
  transform: scale(1.1);
}

.footer__main {
  display: flex;
  width: 100%;
}

.footer__main__left {
  width: 65%;
  color: var(--main-color);
}

.footer__main__right {
  width: 35%;
}

.footer__main__left {
  display: flex;
}

.footer__main__left img {
  height: 5vmax;
}

.footer .address {
  margin-right: 20px;
}

.footer__main__left .address {
  margin-left: 30px;
}

.footer__main .address__verband {
  font-family: Roboto-bold;
  font-size: max(12px, 1.1vmax);
  margin-bottom: 8px;
}

.footer__main .address p:not(.address__verband) {
  margin-bottom: 3%;
  font-size: max(12px, 1.1vmax);
}

.footer__main__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer__main__right ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__main__right a {
  text-decoration: none;
  color: var(--main-color);
}

.footer__main__right a:hover li {
  font-family: Roboto-bold;
}

.footer__main__right ul li {
  margin-left: 2vw;
  font-size: max(0.8rem, 1.1vmax);
  font-weight: 600;
}

/* SMALL SCREENS LANDSCAPE */

@media only screen and (max-width: 43em) and (orientation: landscape) {
  .event__content-wrapper__column-right {
    padding-top: 50px;
  }

  .sign-up__form-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .sign-up__form-footer__sign-in {
    margin-bottom: 0;
  }
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 40em) {
  .event__content-wrapper__column-right {
    padding-top: 50px;
  }

  .sign-up__form-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .sign-up__form-footer__sign-in {
    margin-bottom: 0;
  }
}

/* LARGE SCREENS */

@media only screen and (min-width: 64.063em) {
  .header {
    padding: 0 0 0 200px;
  }

  .event__title {
    padding: 30px 250px;
  }

  .event__main-info {
    padding: 0 0 0 250px;
  }
}

/* ANIMATIONS */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
