@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

:root {
  --main-color: rgb(0, 96, 173);
  --button-color: rgb(255, 197, 7);
  --font-color-dark: rgb(88, 89, 91);
  --sub-header: 1.2rem;
  --main-header: 2.9rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  color: var(--font-color-dark);
}

/* UTILITY CLASSES */

.hide {
  display: none;
}

/* HEADER SECTION */

header {
  display: flex;
  width: 100vw;
  height: 18vh;
  max-width: 100%;
  padding: 0 200px;
  font-size: 1.1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
}

.logo img {
  width: 250px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a {
  text-decoration: none;
  /* color: var(--font-color-dark); */
  color: inherit;
  display: block;
  position: relative;
}

.navigation__top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 50%;
}

.navigation__top .kontakt {
  margin-top: 45px;
  margin-right: 50px;
  overflow: hidden;
}

.navigation__top .navigation__login:hover {
  opacity: 0.8;
}

.navigation__top .navigation__login::after {
  display: none;
}

/* .navigation__top .navigation__contact {
  display: block;
  width: 100%;
  height: 100%;
} */

.navigation__bottom {
  display: flex;
  align-items: center;
  height: 50%;
}

.navigation__bottom ul {
  display: flex;
  list-style-type: none;
}

.navigation__bottom ul li {
  margin-right: 35px;
  padding: 5px 0 0 0;
  overflow: hidden;
}

/* .navigation a {
  display: block;
  position: relative;
  outline: 3px solid lime;
} */

.navigation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--main-color);
  opacity: 1;
  transition: opacity 300ms, transform 400ms;
  transform: translate3d(-100%, 0, 0);
}

.navigation a:hover::after,
.navigation a:focus::after {
  /* color: var(--main-color);
  border-bottom: 1px solid var(--main-color); */
  transform: translate3d(0, 0, 0);
}

.navigation__bottom img {
  width: 25px;
  margin-left: 20px;
}

.navigation__bottom img:hover {
  transform: scale(1.2);
}

/* TEASER SECTION */

.teaser {
  position: relative;
  display: flex;
  align-items: center;
  /* background-image: url("../img/15964189-preview.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 70vh;
  max-width: 100%;
  padding: 0 0 0 200px;
}

.teaser__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: lightslategray;
  z-index: -1;
  object-fit: cover;
}

.teaser__regelwerke-menu {
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: white;
}

/* .navigation__bottom li:nth-child(4):hover .teaser__regelwerke-menu {
  background: yellow;
} */

.teaser__regelwerke-menu__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background: var(--main-color);
}

.teaser__regelwerke-menu__top-bar p {
  padding-left: 200px;
  font-family: Roboto-bold;
  font-size: 1.5rem;
}

.teaser__regelwerke-menu__main {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 200px;
}

.teaser__regelwerke-menu__main a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.teaser__regelwerke-menu__main a:hover img {
  animation: shake 2s ease-in-out infinite;
}

.teaser__regelwerke-menu__image {
  width: 280px;
  margin-right: 100px;
  padding-top: 20px;
}

.teaser__regelwerke-menu__nav-left,
.teaser__regelwerke-menu__nav-right {
  width: 325px;
  color: var(--font-color-dark);
}

.teaser__regelwerke-menu__nav-left {
  margin-right: 100px;
}

.teaser__regelwerke-menu__nav-left img,
.teaser__regelwerke-menu__nav-right img {
  width: 25px;
}

.teaser__regelwerke-menu__nav-left ul li,
.teaser__regelwerke-menu__nav-right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--main-color);
}

.teaser__news-menu {
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: white;
}

.teaser__news-menu__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background: var(--main-color);
}

.teaser__news-menu__top-bar p {
  padding-left: 200px;
  font-family: Roboto-bold;
  font-size: 1.5rem;
}

.teaser__news-menu__main {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-left: 200px;
}

.teaser__news-menu__image {
  width: 280px;
  margin-right: 100px;
}

.teaser__news-menu__content {
  width: 350px;
}

.teaser__news-menu__content img {
  width: 25px;
}

.teaser__news-menu__content a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.teaser__news-menu__content a:hover li {
  color: var(--main-color);
}

.teaser__news-menu__content a:hover img {
  animation: shake 2s ease-in-out infinite;
}

.teaser__news-menu__content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--main-color);
}

.news-box__layer {
  width: 500px;
  height: 500px;
  background: var(--main-color);
  mix-blend-mode: multiply;
  border-radius: 15px;
}

.news-box__content {
  position: absolute;
  width: 500px;
  height: 500px;
  padding: 50px 0 50px 50px;
}

.news-box__content h4 {
  margin-bottom: 20px;
  font-weight: 500;
}

.news-box__content h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.news-box__content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.news-box__content button {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-box__content button:hover img {
  /* transform: scale(1.5); */
  animation: pulsating 2s ease-in-out infinite;
}

.news-box__content button img {
  position: absolute;
  height: 20px;
  top: 18px;
  left: 13px;
}

.teaser .quick-navi {
  position: absolute;
  top: 150px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 230px;
  z-index: 5;
}

.teaser .quick-navi button {
  width: 70px;
  height: 70px;
  background: var(--main-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.teaser .quick-navi button:hover {
  transform: translateX(-20px);
}

.teaser .quick-navi button img {
  width: 40px;
}

.teaser__slide-control {
  position: absolute;
  bottom: 80px;
  right: 130px;
  display: flex;
  width: 100px;
  height: 40px;
}

.teaser__slide-control span {
  padding-top: 5px;
  font-size: 2.1rem;
}

.teaser__slide-control img {
  height: 50px;
  cursor: pointer;
}

/* ABOUT SECTION */

.about {
  display: flex;
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  padding: 180px 200px;
}

.about__info {
  width: 700px;
  height: 300px;
  color: var(--main-color);
}

.about__info h4 {
  font-size: var(--sub-header);
  font-weight: 500;
  margin-bottom: 10px;
}

.about__info h1 {
  font-size: var(--main-header);
  font-weight: 500;
  margin-bottom: 80px;
}

.about__info p:not(.about__info__read-more) {
  width: 580px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: var(--font-color-dark);
}

.about__info__read-more {
  display: flex;
  align-items: center;
  margin-top: 80px;
  font-family: Roboto-bold;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.about__info__read-more img {
  width: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.about__info__read-more:hover img {
  animation: pulsating 2s infinite;
}

.about__image {
  width: 520px;
  height: 800px;
}

/* MEMBERS SECTION */

.members {
  position: relative;
  width: 100vw;
  height: 150vh;
  max-width: 100%;
  background-image: url("../img/membrers-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0 0 0;
}

.members__info__layer {
  display: flex;
  width: 100%;
  height: 35%;
  background: var(--main-color);
  mix-blend-mode: multiply;
}

.members__info__content {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 31%;
  padding: 0 0 0 200px;
  color: white;
  z-index: 1;
}

.members__info__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.members__info__cite {
  width: 850px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}

.members__info__author {
  width: 850px;
  font-size: 1.1rem;
  text-align: right;
}

.members__image {
  width: 180px;
  height: 180px;
}

.members__image:hover {
  animation: tilt 2s ease-in-out;
}

.members__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
  height: 500px;
  background: white;
  margin: 150px auto 0;
  color: var(--main-color);
}

.members__slider__arrow-left {
  position: absolute;
  top: 200px;
  left: -80px;
  width: 110px;
}

.members__slider__arrow-right {
  position: absolute;
  top: 200px;
  right: -80px;
  width: 110px;
}

.members__slider__leaflet img {
  width: 400px;
  height: 400px;
}

.members__slider__wrapper {
  width: 600px;
  height: 400px;
}

.members__slider__wrapper h4 {
  font-size: var(--sub-header);
  font-weight: 500;
  margin: 10px 0 20px 0;
}

.members__slider__wrapper h1 {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.members__slider__text {
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: var(--font-color-dark);
}

.members__slider__download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-right: 75px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.members__slider__download img {
  display: inline-block;
  width: 25px;
  height: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.members__slider__download:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

/* NACHHALTIGKEIT SECTION */

.nachhaltigkeit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  /* background-image: url("../img/nachhaltigkeit-background.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-color);
}

.nachhaltigkeit__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: lightslategray;
  z-index: -1;
  object-fit: cover;
}

.nachhaltigkeit__panel {
  width: 73%;
  height: auto;
  padding: 50px 40px 100px 80px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.nachhaltigkeit h4 {
  width: 40%;
  margin-bottom: 10px;
  font-size: var(--sub-header);
  font-weight: 500;
}

.nachhaltigkeit__content-wrapper {
  display: flex;
  width: 100%;
}

.nachhaltigkeit h1 {
  font-size: max(1.2rem, 2.9vw);
  font-weight: 500;
}

.nachhaltigkeit__wrapper-left {
  width: 55%;
  margin-right: 30px;
}

.nachhaltigkeit__wrapper-right {
  width: 40%;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: var(--font-color-dark);
}

.nachhaltigkeit__wrapper-right img {
  width: 25px;
  margin-top: 5px;
  margin-right: 5px;
}

.nachhaltigkeit__read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 38px;
  padding-right: 30px;
  font-family: Roboto-bold;
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.nachhaltigkeit__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

/* NEWS SECTION */

.news {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 50px 0 0 230px;
}

.news__header {
  display: flex;
}

.news__header__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 44%;
  height: 20%;
  padding: 0 30px 0 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
}

.news__header__right {
  padding-left: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
}

.news__header__left a {
  text-decoration: none;
  font-family: Roboto-bold;
  font-size: 1.3rem;
  color: var(--main-color);
}

.news__header__left a:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__header__left p {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.news__header__left img {
  width: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.news__header__right {
  width: 40%;
  height: 20%;
}

.news__main {
  display: flex;
}

.news__content {
  width: 44%;
  color: var(--main-color);
}

.news__content h4 {
  font-weight: 500;
  margin: 50px 0 20px 0;
}

.news__content h2 {
  margin-bottom: 20px;
}

.news__content a {
  text-decoration: none;
  color: var(--main-color);
}

.news__content__top {
  border-bottom: 1px solid var(--main-color);
}

.news__content__top,
.news__content__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 380px;
}

.news__content__top > img,
.news__content__bottom > img {
  width: 300px;
}

.news__content__top__wrapper,
.news__content__bottom__wrapper {
  width: 300px;
}

.news__content__top__wrapper > p,
.news__content__bottom__wrapper > p {
  font-size: 1.1rem;
  color: var(--font-color-dark);
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.news__content__top__read-more img,
.news__content__bottom__read-more img {
  width: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.news__content__top__read-more p,
.news__content__bottom__read-more p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto-bold;
  font-size: 1.4rem;
}

.news__content__top__read-more:hover img,
.news__content__bottom__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__services {
  width: 38%;
  margin-left: 40px;
  padding-top: 40px;
}

.news__services__first {
  border-top: 1px solid var(--main-color);
}

.news__services li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  list-style-type: none;
  border-bottom: 1px solid var(--main-color);
  font-size: 1.3rem;
}

.news__services li:hover img {
  animation: shake 2s ease-in-out infinite;
}

.news__services img {
  width: 28px;
  margin-top: 5px;
  margin-right: 15px;
}

/* TERMINE SECTION */

.termine {
  display: flex;
  align-items: center;
  background-image: url("../img/termine_hintergrund.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 95vh;
  max-width: 100%;
}

.termine__main {
  width: 100%;
  height: 50%;
  background: white;
}

.termine__main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  padding: 0 250px;
  margin-bottom: 40px;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.termine__main__header a {
  text-decoration: none;
  font-family: Roboto-bold;
  font-size: 1.4rem;
  color: var(--main-color);
}

.termine__main__header a:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.termine__main__header p {
  display: flex;
  align-items: center;
}

.termine__main__header img {
  width: 28px;
  margin-right: 5px;
}

.termine__main__content {
  display: flex;
  padding: 0 250px;
}

.termine__main__content h1 {
  font-size: 2rem;
}

.termine__main__content h2 {
  font-family: Roboto-bold;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.termine__main__content p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.termine__main__left,
.termine__main__right {
  display: flex;
  width: 50%;
}

.termine__main__left {
  margin-right: 20px;
}

.termine__main__left h1,
.termine__main__left h3,
.termine__main__right h1,
.termine__main__right h3 {
  color: var(--main-color);
  font-weight: 500;
}

.termine__main__wrapper {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--main-color);
}

.termine__main__wrapper a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.termine__main__wrapper a:hover {
  color: var(--main-color);
}

.termine__main__wrapper h3 {
  margin-bottom: 10px;
}

/* NEWSLETTER SECTION */

.newsletter {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70vh;
  max-width: 100%;
  padding: 0 150px 0 230px;
  background: var(--main-color);
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  padding-bottom: 30px;
  color: white;
}

.newsletter__info h1 {
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 2.9rem;
  margin-bottom: 30px;
}

.newsletter__info p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  margin-left: 70px;
  background: white;
}

.newsletter form input::placeholder {
  color: var(--main-color);
  font-size: 0.9rem;
  opacity: 1;
}

.newsletter form input:not([type="checkbox"]) {
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  border: 1px solid rgb(226, 226, 226);
}

.newsletter__form-footer {
  width: 100%;
}

.newsletter__form-dsgvo {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-left: 40px;
}

.newsletter__form-dsgvo input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.newsletter__form-dsgvo input:checked {
  position: relative;
}

.newsletter__form-dsgvo input:checked:before {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 2px;
  background: none var(--main-color);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.newsletter__form-dsgvo label {
  color: var(--main-color);
  margin-left: 10px;
}

.newsletter__form-footer__button {
  display: flex;
  justify-content: flex-end;
}

.newsletter__form-footer button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-right: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.newsletter__form-footer button:hover {
  opacity: 0.8;
}

footer {
  width: 100vw;
  height: 40vh;
  max-width: 100%;
  padding: 0 200px 0 230px;
}

.footer__social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

.footer__social-media a {
  width: 40px;
  margin-left: 20px;
}

.footer__social-media a:hover {
  transform: scale(1.1);
}

.footer__main {
  display: flex;
  width: 100%;
}

.footer__main__left,
.footer__main__right {
  width: 50%;
  color: var(--main-color);
}

.footer__main__left {
  display: flex;
}

.footer__main__left img {
  height: 80px;
}

.footer__main__left .address {
  margin-left: 30px;
}

.footer__main .address__verband {
  font-family: Roboto-bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.footer__main .address p:not(.address__verband) {
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.footer__main__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__main__right ul {
  display: flex;
  list-style-type: none;
}

.footer__main__right a {
  text-decoration: none;
  color: var(--main-color);
}

.footer__main__right a:hover li {
  font-family: Roboto-bold;
}

.footer__main__right ul li {
  margin-left: 55px;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer__main__right button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 50px;
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer__main__right button:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.footer__main__right button img {
  width: 23px;
  margin-top: 5px;
  margin-right: 5px;
}

/* ANIMATIONS */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}
