@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

:root {
  --main-color: rgb(0, 96, 173);
  --button-color: rgb(255, 197, 7);
  --font-color-dark: rgb(88, 89, 91);
  --sub-header: 1.2rem;
  --main-header: 2.9rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  color: var(--font-color-dark);
  /* overflow-x: hidden; */
}

/* UTILITY CLASSES */

.hide {
  display: none;
}

/* HEADER SECTION */

header {
  display: flex;
  width: 100vw;
  height: 18vh;
  max-width: 100%;
  padding: 0 0 0 40px;
  font-size: max(12px, 1.3vmax);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  min-width: 100px;
}

.logo img {
  width: 15vmax;
}

.navigation {
}

.navigation a {
  text-decoration: none;
  /* color: var(--font-color-dark); */
  color: inherit;
  display: block;
  position: relative;
}

.navigation ul {
  display: flex;
  align-items: flex-end;
  height: 15vh;
  list-style-type: none;
}

.navigation ul li {
  margin-right: 35px;
  font-size: max(0.6rem, 1vmax);
  overflow: hidden;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--main-color);
  opacity: 1;
  transition: opacity 300ms, transform 400ms;
  transform: translate3d(-100%, 0, 0);
}

.navigation a:hover::after,
.navigation a:focus::after {
  transform: translate3d(0, 0, 0);
}

.navigation img {
  width: 25px;
  margin-left: 20px;
}

.navigation img:hover {
  transform: scale(1.2);
}

/* TEASER SECTION */

.teaser {
  position: relative;
  display: flex;
  align-items: center;
  /* background-image: url("../img/15964189-preview.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 70vh;
  max-width: 100%;
  padding: 0 0 0 200px;
  transform: translateZ(
    0
  ); /* fix for chrome blend-mode issue (applied to parent) */
}

.teaser__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: lightslategray;
  z-index: -1;
  object-fit: cover;
}

.teaser__regelwerke-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15%;
  background: white;
}

/* .navigation__bottom li:nth-child(4):hover .teaser__regelwerke-menu {
  background: yellow;
} */

.teaser__regelwerke-menu__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background: var(--main-color);
}

.teaser__regelwerke-menu__top-bar p {
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  margin-left: 70px;
}

.teaser__regelwerke-menu__main {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  padding-top: 40px;
}

.teaser__regelwerke-menu__main a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.teaser__regelwerke-menu__main a:hover {
  color: var(--main-color);
}

.teaser__regelwerke-menu__main a:hover img {
  animation: shake 2s ease-in-out infinite;
}

.teaser__regelwerke-menu__image {
  /* width: 280px; */
  /* margin-right: 100px; */
  padding-top: 20px;
}

.teaser__regelwerke-menu__nav-left,
.teaser__regelwerke-menu__nav-right {
  /* width: 325px; */
  color: var(--font-color-dark);
}

.teaser__regelwerke-menu__nav-left {
  /* margin-right: 100px; */
}

.teaser__regelwerke-menu__nav-left img,
.teaser__regelwerke-menu__nav-right img {
  width: 1.5vmax;
}

.teaser__regelwerke-menu__nav-left ul li,
.teaser__regelwerke-menu__nav-right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 0;
  font-size: max(0.8rem, 1.3vmax);
  border-bottom: 1px solid var(--main-color);
}

.teaser__news-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 15%;
  background: white;
}

.teaser__news-menu__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background: var(--main-color);
}

.teaser__news-menu__top-bar p {
  padding-left: 50px;
  font-family: Roboto-bold;
  font-size: 1.5rem;
}

.teaser__news-menu__main {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-left: 50px;
}

.teaser__news-menu__image {
  width: 280px;
  margin-right: 100px;
}

.teaser__news-menu__content {
  width: 350px;
}

.teaser__news-menu__content img {
  width: 25px;
}

.teaser__news-menu__content a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.teaser__news-menu__content a:hover li {
  color: var(--main-color);
}

.teaser__news-menu__content a:hover img {
  animation: shake 2s ease-in-out infinite;
}

.teaser__news-menu__content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--main-color);
}

.news-box__layer {
  width: 40%;
  background: var(--main-color);
  mix-blend-mode: multiply;
  border-radius: 15px;
}

.news-box__layer::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.news-box__content {
  position: absolute;
  width: 28%;
  /* height: 500px; */
  padding: 4%;
}

.news-box__content h4 {
  margin-bottom: 5%;
  font-size: max(0.6rem, 0.8vmax);
  font-weight: 500;
}

.news-box__content h1 {
  width: 90%;
  font-size: max(0.7rem, 1.7vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.news-box__content p {
  width: 90%;
  line-height: 1.5rem;
  font-size: max(10px, 0.9vw);
  margin-bottom: 5%;
}

.news-box__content button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
  /* height: 5vh; */
  padding: 3% 0;
  font-size: max(0.6rem, 0.8vw);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-box__content button:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news-box__content button img {
  height: 2vh;
  /* margin-top: 5px; */
  margin-right: 5px;
}

.teaser .quick-navi {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 230px;
  z-index: 5;
}

.teaser .quick-navi button {
  width: 70px;
  height: 70px;
  background: var(--button-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.teaser .quick-navi button:hover {
  transform: translateX(-20px);
}

.teaser .quick-navi button img {
  width: 40px;
}

.teaser__slide-control {
  position: absolute;
  bottom: 80px;
  right: 130px;
  display: flex;
  align-items: center;
  width: 10%;
  height: 5%;
}

.teaser__slide-control span {
  padding-top: 5px;
  font-size: max(0.8rem, 2.5vmax);
}

.teaser__slide-control img {
  height: 3vmax;
  cursor: pointer;
}

/* ABOUT SECTION */

.about {
  display: flex;
  width: 100vw;
  /* height: 90vh; */
  max-width: 100%;
  padding: 150px 0;
}

.about__info {
  width: 700px;
  min-height: 80%;
  margin-right: 30px;
  color: var(--main-color);
}

.about__info h4 {
  font-size: max(0.7rem, 1.2vmax);
  font-weight: 500;
  margin-bottom: 10px;
}

.about__info h1 {
  font-size: max(1rem, 3vmax);
  font-weight: 500;
  margin-bottom: 10%;
}

.about__info p:not(.about__info__read-more) {
  /* width: 580px; */
  line-height: max(1.5rem, 2.5vmax);
  font-size: max(0.8rem, 1.2vmax);
  color: var(--font-color-dark);
}

/* MEMBERS SECTION */

.members {
  position: relative;
  width: 100vw;
  max-width: 100%;
  background-image: url("../img/shutterstock_1435648625_sw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0px;
}

.members__info__layer {
  display: flex;
  width: 100%;
  min-height: 40vmin;
  background: var(--main-color);
  mix-blend-mode: multiply;
}

.members__info__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: white;
  z-index: 1;
}

.members__info__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.members__info__cite {
  width: 100%;
  margin-bottom: 3%;
  font-weight: 500;
  font-size: max(1rem, 2.2vw);
  line-height: max(1.6rem, 3vmax);
}

.members__info__author {
  width: 100%;
  font-size: max(0.7rem, 1.2vmax);
  text-align: right;
}

.members__info__arrow-left,
.members__info__arrow-right {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
}

.members__info__arrow-right {
  top: 0;
  bottom: 0;
  right: 5vmax;
  margin: auto;
  cursor: pointer;
}

.members__info__arrow-left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5vmax;
  cursor: pointer;
}

/* MEMBERS JOURNAL SECTION */

.members-journal {
  padding: 10vmin 0;
}

.members-journal__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
  height: 500px;
  background: white;
  margin: 0 auto;
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.members-journal__slider__arrow-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80px;
  width: 110px;
  height: 100px;
  margin: auto;
}

.members-journal__slider__arrow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -80px;
  width: 110px;
  height: 100px;
  margin: auto;
}

.members-journal__slider__leaflet img {
  width: 400px;
  height: 400px;
}

.members-journal__slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 30vmax;
}

.members-journal__slider__wrapper h4 {
  font-size: max(0.8rem, 1.3vmax);
  font-weight: 500;
  margin: 2% 0 3% 0;
}

.members-journal__slider__wrapper h1 {
  font-size: max(0.8rem, 2.5vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.members-journal__slider__text {
  font-size: max(0.8rem, 1.2vmax);
  line-height: 1.7rem;
  color: var(--font-color-dark);
}

.members-journal__slider__download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
  margin-right: 10%;
  font-size: max(0.8rem, 1.3vmax);
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.members-journal__slider__download img {
  display: inline-block;
  width: 25px;
  height: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.members-journal__slider__download:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.members-journal__arrow-left,
.members-journal__arrow-right {
  position: absolute;
  width: 5vmax;
  height: 5vmax;
}

.members-journal__arrow-right {
  top: 0;
  bottom: 0;
  right: -5vmax;
  margin: auto;
  cursor: pointer;
}

.members-journal__arrow-left {
  top: 0;
  bottom: 0;
  margin: auto;
  left: -5vmax;
  cursor: pointer;
}

/* NACHHALTIGKEIT SECTION */

.nachhaltigkeit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
  max-width: 100%;
  padding: 50px;
  /* background-image: url("../img/nachhaltigkeit-background.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-color);
}

.nachhaltigkeit__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightslategray;
  z-index: -1;
  object-fit: cover;
}

.nachhaltigkeit__panel {
  width: 73%;
  height: auto;
  padding: 50px 40px 50px 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.nachhaltigkeit__img-wrapper img {
  max-width: 200px;
}

.nachhaltigkeit h4 {
  width: 100%;
  margin-bottom: 10px;
  font-size: max(0.8rem, 1.3vmax);
  font-weight: 500;
}

.nachhaltigkeit__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nachhaltigkeit__content-wrapper p:not(.nachhaltigkeit__read-more) {
  color: var(--font-color-dark);
}

.nachhaltigkeit h1 {
  font-size: max(1.2rem, 2.5vmax);
  font-weight: 500;
}

.nachhaltigkeit__content-wrapper img {
  width: 5%;
  margin-top: 5px;
  margin-right: 5px;
}

.nachhaltigkeit__read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.nachhaltigkeit__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

/* NEWS SECTION */

.news {
  width: 100vw;
  max-width: 100%;
  padding: 50px 0 40px 0;
}

.news h1 {
  font-size: max(1rem, 2.5vmax);
}

.news__header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 0 30px 0 0;
  font-size: max(0.8rem, 1.5vmax);
  font-weight: 500;
  color: var(--main-color);
}

.news__header__right {
  width: 40%;
  height: 20%;
  padding-left: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
}

.news__header__left a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
}

.news__header__left a:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__header__left p {
  display: flex;
  align-items: center;
  margin: 0;
  height: 30px;
  color: var(--font-color-dark);
}

.news__header__left img {
  width: 1.8vmax;
  margin-top: 5px;
  margin-right: 5px;
}

.news__main {
  display: flex;
}

.news__content {
  width: 100%;
  color: var(--main-color);
}

.news__content h4 {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: 500;
  margin-bottom: 5%;
}

.news__content h2 {
  margin-bottom: 20px;
  font-size: max(1rem, 1.4vmax);
  font-weight: bold;
}

.news__content__top p:not(.news__content__read-more > p) {
  color: var(--font-color-dark);
}

.news__content__read-more > p {
  font-size: max(0.8rem, 1.1vmax);
  font-weight: bold;
  text-align: right;
}

.news__content a {
  text-decoration: none;
  color: var(--main-color);
}

.news__content__read-more img {
  width: 5%;
  margin-right: 5px;
}

.news__content__top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news__content__bottom {
  display: flex;
  width: 10%;
  padding-top: 20px;
}

.news__content__top > img {
  width: 45%;
}

.news__content__bottom > img {
  width: 100%;
}

.news__content__top__main,
.news__content__bottom__wrapper {
  margin-left: 10px;
}

.news__content__top__wrapper {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.news__content__top__wrapper > img {
  width: 108%;
}

.news__content__top__main > p,
.news__content__bottom__wrapper > p {
  font-size: 1.1rem;
  color: var(--font-color-dark);
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.news__content__top__read-more img,
.news__content__bottom__read-more img {
  width: 28px;
  margin-top: 5px;
  margin-right: 5px;
}

.news__content__top__read-more p,
.news__content__bottom__read-more p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto-bold;
  font-size: 1.4rem;
}

.news__content__top__read-more:hover img,
.news__content__bottom__read-more:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.news__services {
  width: 100%;
  /* margin-left: 40px; */
  padding-top: 20px;
}

.news__services__first {
  border-top: 1px solid var(--main-color);
}

.news__services li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  color: var(--font-color-dark);
  list-style-type: none;
  border-bottom: 1px solid var(--main-color);
  font-size: max(0.8rem, 1.2vmax);
}

.news__services li:hover img {
  animation: shake 2s ease-in-out infinite;
}

.news__services img {
  width: 1.5vmax;
  margin-top: 5px;
  margin-right: 15px;
}

/* TERMINE SECTION */

.termine {
  display: flex;
  align-items: center;
  background-image: url("../img/termine_hintergrund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  padding: 10vmin 0;
}

.termine__main {
  min-height: 50%;
  padding-bottom: 70px;
  background: white;
}

.termine__main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin-bottom: 40px;
  color: var(--main-color);
  font-weight: 500;
}

.termine__main__header h1 {
  font-size: max(0.8rem, 2.8vmax);
}

.termine__main__header a {
  text-decoration: none;
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.3vmax);
  color: var(--main-color);
}

.termine__main__header a:hover img {
  animation: pulsating 2s ease-in-out infinite;
}

.termine__main__header p {
  display: flex;
  align-items: center;
}

.termine__main__header img {
  width: 1.8vmax;
  margin-right: 5px;
}

.termine__main__content {
  display: flex;
  padding: 0 0 0 20px;
}

.termine__main__content h1 {
  padding-right: 15px;
  font-size: max(0.8rem, 1.7vmax);
}

.termine__main__content h2 {
  font-family: Roboto-bold;
  font-size: max(0.8rem, 1.5vmax);
  margin-bottom: 15px;
}

.termine__main__content p {
  font-size: max(0.8rem, 1.1vmax);
  line-height: 2vmax;
}

.termine__main__left,
.termine__main__right {
  display: flex;
}

/* .termine__main__left {
  margin-right: 20px;
} */

.termine__main__left h1,
.termine__main__left h3,
.termine__main__right h1,
.termine__main__right h3 {
  color: var(--main-color);
  font-weight: 500;
}

.termine__main__wrapper {
  width: 100%;
  height: 100%;
  /* margin-left: 20px; */
  padding: 0 20px;
  border-left: 1px solid var(--main-color);
}

.termine__main__wrapper a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.termine__main__wrapper a:hover {
  color: var(--main-color);
}

.termine__main__wrapper h3 {
  font-size: max(0.8rem, 1.1vmax);
  margin-bottom: 10px;
}

/* NEWSLETTER SECTION */

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding: 8vmin 0 8vmin 20px;
  background: var(--main-color);
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  margin-right: 40px;
  color: white;
}

.newsletter__info h1 {
  font-size: max(0.8rem, 2.4vmax);
  font-weight: 500;
  line-height: max(1.6rem, 3.4vmax);
  margin-bottom: 30px;
}

.newsletter__info p {
  font-size: max(0.8rem, 1.1vmax);
  line-height: 1.7rem;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* margin-left: 70px; */
  padding: 80px 0 30px 0;
  background: white;
}

.newsletter form input::placeholder {
  color: var(--main-color);
  font-size: max(0.8rem, 0.9vmax);
  opacity: 1;
}

.newsletter form input:not([type="checkbox"]) {
  width: 90%;
  height: 2.5vmax;
  margin-bottom: 10px;
  padding: 0 10px;
  border: 1px solid rgb(226, 226, 226);
}

.newsletter__form-footer {
  width: 100%;
}

.newsletter__form-dsgvo {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-left: 5%;
}

.newsletter__form-dsgvo input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 23px;
  height: 23px;
  margin: 0;
  border: 1px solid lightgray;
  cursor: pointer;
}

.newsletter__form-dsgvo input:checked {
  position: relative;
}

.newsletter__form-dsgvo input:checked:before {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 2px;
  background: none var(--main-color);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.newsletter__form-dsgvo label {
  font-size: max(0.6rem, 0.8vmax);
  color: var(--main-color);
  margin-left: 10px;
}

.newsletter__form-footer__button {
  display: flex;
  justify-content: flex-end;
}

.newsletter__form-footer button {
  width: 25%;
  margin-top: 30px;
  margin-right: 10%;
  padding: 15px;
  font-size: max(0.8rem, 1.2vmax);
  font-weight: bold;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.newsletter__form-footer button:hover {
  opacity: 0.8;
}

/* FOOTER SECTION */

footer {
  width: 100vw;
  min-height: 40vh;
  max-width: 100%;
  padding: 50px;
}

.footer__social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  margin-bottom: 3%;
}

.footer__social-media a {
  width: 3.5%;
  margin-left: 20px;
}

.footer__social-media a:hover {
  transform: scale(1.1);
}

.footer__main {
  display: flex;
  width: 100%;
}

.footer__main__left {
  width: 65%;
  color: var(--main-color);
}

.footer__main__right {
  width: 35%;
}

.footer__main__left {
  display: flex;
}

.footer__main__left img {
  height: 5vmax;
}

.footer .address {
  margin-right: 20px;
}

.footer__main__left .address {
  margin-left: 30px;
}

.footer__main .address__verband {
  font-family: Roboto-bold;
  font-size: max(12px, 1.1vmax);
  margin-bottom: 8px;
}

.footer__main .address p:not(.address__verband) {
  margin-bottom: 3%;
  font-size: max(12px, 1.1vmax);
}

.footer__main__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer__main__right ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__main__right a {
  text-decoration: none;
  color: var(--main-color);
}

.footer__main__right a:hover li {
  font-family: Roboto-bold;
}

.footer__main__right ul li {
  margin-left: 2vw;
  font-size: max(0.8rem, 1.1vmax);
  font-weight: 600;
}

/* MEDIA QUERIES --------------------------------------------------------------------------- */

/* LARGE SCREENS */
@media only screen and (min-width: 64.063em) {
  .header {
    padding: 0 0 0 200px;
  }

  .teaser__regelwerke-menu__main {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-left: 200px;
  }

  .teaser__regelwerke-menu__top-bar p {
    padding-left: 200px;
  }

  .teaser__news-menu__top-bar p {
    padding-left: 200px;
  }

  .teaser__news-menu__main {
    padding-left: 200px;
  }

  .members__slider__wrapper {
    height: 25vmax;
  }

  .news {
    padding: 50px 0 40px 230px;
  }

  .termine__main__header {
    padding: 0 250px;
  }

  .termine__main__content {
    padding: 0 250px;
  }

  .termine__main__left {
    margin-right: 0;
  }

  .newsletter {
    padding: 10vmin 150px 10vmin 230px;
  }

  footer {
    padding: 50px 200px 50px 230px;
  }
}

/* ANIMATIONS */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulsating2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}
